[Unit]
Description=plexus controller application for Ryu
After=network.target

[Service]
Type=forking
ExecStartPre=-/usr/bin/mkdir /var/run/plexus
ExecStartPre=/usr/bin/chown -R plexus:plexus /var/run/plexus
ExecStart=/opt/plexus/bin/supervisord -c /etc/plexus/supervisord.conf
ExecReload=/opt/plexus/bin/supervisorctl -c /etc/plexus/supervisord.conf reload
ExecStop=/opt/plexus/bin/supervisorctl -c /etc/plexus/supervisord.conf shutdown
Restart=on-failure
PIDFile=/var/run/plexus/supervisord.pid

[Install]
WantedBy=multi-user.target
