%global builddate @@DATE@@
%global commit @@COMMIT@@
%global shortcommit @@SHORTCOMMIT@@

%if ! (0%{?fedora} > 12 || 0%{?rhel} > 5)
%{!?python_sitearch: %global python_sitearch %(%{__python} -c "from distutils.sysconfig import get_python_lib; print get_python_lib(1)")}
%endif
%define use_systemd (0%{?fedora} && 0%{?fedora} >= 18) || (0%{?rhel} && 0%{?rhel} >= 7) || (0%{?suse_version} && 0%{?suse_version} >=1210)
%define __prelink_undo_cmd %{nil}

Name:      plexus
Version:   0.1
Release:   %{builddate}git%{shortcommit}%{?dist}
Summary:   plexus is a Ryu controller application, providing a wide variety of software-defined networking functionality.

Group:     Applications/System
License:   MIT
URL:       https://gitlab.oit.duke.edu/vjo/plexus
Source:    %{name}-%{commit}.tgz
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

BuildRequires: python27-python python27-python-virtualenv python27-python-setuptools gcc libxslt-devel
Requires: python27-python
Requires(pre): shadow-utils

%if %{use_systemd}
BuildRequires: systemd
Requires: systemd
%else
Requires:           initscripts
Requires(postun):   initscripts
Requires(post):     chkconfig
Requires(preun):    chkconfig
%endif

%define venv_base_dir /opt
%define venv_dir %{venv_base_dir}/%{name}

# Disable debuginfo packaging...
%global debug_package %{nil}
# And disable re-compilation of python bytecode.
%global __os_install_post %(echo '%{__os_install_post}' | sed -e 's!/usr/lib[^[:space:]]*/brp-python-bytecompile[[:space:]].*$!!g')

%description
Plexus is a Ryu OpenFlow controller application.
It was originally designed to interact closely with the Switchboard SDN knowledgebase application developed at Duke.

%prep
%setup -q -n %{name}-%{commit}

%build
if [ -d %{_builddir}%{venv_dir} ]; then
    echo "Cleaning out stale build directory" 1>&2
    rm -rf %{_builddir}%{venv_dir}
fi
mkdir -p %{_builddir}%{venv_dir}
source /opt/rh/python27/enable
virtualenv %{_builddir}%{venv_dir}

# Sigh. Cert errors break the installed pip in the virtualenv.
# Grab the latest pip, and install it in the virtual env.
(
source %{_builddir}%{venv_dir}/bin/activate
curl -O https://bootstrap.pypa.io/get-pip.py
python get-pip.py --no-setuptools --no-wheel
)

# Install dependencies and application support.
(
source %{_builddir}%{venv_dir}/bin/activate
pip install setuptools==21.0.0
pip install pycparser==2.14
pip install cffi==1.6.0
pip install six==1.10.0
pip install pyasn1==0.1.9
pip install enum34==1.1.5
pip install idna==2.1
pip install ipaddress==1.0.16
pip install cryptography==1.3.2
pip install pyOpenSSL==16.0.0
pip install urllib3==1.15.1
pip install ndg-httpsclient==0.4.0
pip install paramiko==2.0.0
pip install requests==2.10.0
pip install lxml==3.6.0
pip install supervisor==3.2.3 --pre
pip install pbr==1.9.1
pip install oslo.config==3.4.0
)

# Install Ryu.
(
source %{_builddir}%{venv_dir}/bin/activate
pip install ryu==4.2
)

# And now for the plexus code...
(
source %{_builddir}%{venv_dir}/bin/activate
python setup.py build
python setup.py install_lib

# Make the virtualenv relocatable.
virtualenv --relocatable %{_builddir}%{venv_dir}
echo "FIXING virtualenv PATHS"
find -H %{_builddir}%{venv_dir}/bin -type f | while read filename;
do
     perl -p -i.bak -e "s|%{_builddir}||g" ${filename}
     if [ -f ${filename}.bak ]; then
        rm -f ${filename}.bak
        echo "FIXED ${filename}"
     fi
done
)

%install
source /opt/rh/python27/enable
mkdir -p %{buildroot}%{venv_base_dir}
cp -R %{_builddir}%{venv_dir} %{buildroot}%{venv_base_dir}

(
source %{_builddir}%{venv_dir}/bin/activate
python setup.py install_data --root %{buildroot}
)

%if %{use_systemd}
%{__mkdir} -p %{buildroot}%{_unitdir}
%{__install} -m 644 plexus.service %{buildroot}%{_unitdir}/plexus.service
%else
%{__mkdir} -p %{buildroot}%{_initrddir}
mkdir -p %{buildroot}%{_localstatedir}/run/%{name}
%{__install} -m 755 redhat/plexus.init %{buildroot}%{_initrddir}/plexus
%endif

# Correct the virtualenv lib64 symlink to what it will point to on a real install:
rm %{buildroot}%{venv_dir}/lib64
ln -s %{venv_dir}/lib %{buildroot}%{venv_dir}/lib64

%clean
rm -rf %{buildroot}

%files
%defattr(-, root, root, -)
%attr(755, root, root) %dir %{_sysconfdir}/%{name}
%attr(755, %{name}, %{name}) %dir %{_localstatedir}/lib/%{name}
%attr(755, %{name}, %{name}) %dir %{_localstatedir}/log/%{name}
%config(noreplace) %{_sysconfdir}/%{name}/ryu.conf
%config(noreplace) %{_sysconfdir}/%{name}/log.conf
%config(noreplace) %{_sysconfdir}/%{name}/supervisord.conf
%{venv_dir}
# *Ugh*. Something about the virtualenv causes these to get modified after the fact...
%exclude %{venv_dir}/lib/python2.7/site-packages/supervisor/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/supervisor/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/supervisor/medusa/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/supervisor/medusa/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/supervisor/scripts/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/supervisor/scripts/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/supervisor/tests/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/supervisor/tests/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/pkg_resources/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/pkg_resources/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/pkg_resources/extern/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/pkg_resources/extern/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/pkg_resources/_vendor/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/pkg_resources/_vendor/*.pyc
%exclude %{venv_dir}/lib/python2.7/site-packages/pkg_resources/_vendor/packaging/*.pyc
%verify(not md5 size mtime) %{venv_dir}/lib/python2.7/site-packages/pkg_resources/_vendor/packaging/*.pyc
%if %{use_systemd}
%{_unitdir}/plexus.service
%else
%attr(755, %{name}, %{name}) %dir %{_localstatedir}/run/%{name}
%{_initrddir}/plexus
%endif
%doc LICENSE
%doc README.md

%pre
getent group %{name} >/dev/null || groupadd -r %{name}
getent passwd %{name} >/dev/null || \
    useradd -r -g %{name} -d %{_localstatedir}/lib/%{name} -s /sbin/nologin \
    -c "plexus OpenFlow controller user" %{name}
exit 0

%post
if [ "$1" = "1" ]; then
%if %use_systemd
    /usr/bin/systemctl enable plexus.service >/dev/null 2>&1 ||:
%else
    /sbin/chkconfig --add plexus >/dev/null 2>&1 ||:
%endif
fi

%preun
if [ "$1" = "0" ]; then
%if %use_systemd
    /usr/bin/systemctl --no-reload disable plexus.service >/dev/null 2>&1 || :
    /usr/bin/systemctl stop plexus.service >/dev/null 2>&1 ||:
%else
    /sbin/service plexus stop > /dev/null 2>&1
    /sbin/chkconfig --del plexus >/dev/null 2>&1 ||:
%endif
/bin/rm -rf /var/lib/plexus/*
/bin/rm -rf /var/log/plexus/*
fi

%changelog
* Tue Sep 08 2015 Victor J. Orlikowski <vjo@duke.edu> - 0.1-1
- 0.1 Initial packaging as an RPM.
